.form-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #e4e4e6;
    border-radius: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .phone-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-upload-section {
    display: flex;
    gap: 10px;
  }
  
  label[for="pdfUpload"],
  label[for="videoUpload"] {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #2980b9;
  }
  